*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
body{
    min-height: 100vh;
    
}

/* kode til font overskrift: 
    font-size: 40pt;
    font-family: "owners-narrow", sans-serif;
    font-weight: 700;
    font-style: normal;

    kode til font rubrik: 
    font-size: 13pt;
    font-weight: 100;
    font-family: "dashiell-text", serif;
*/


/* Header */
.navbar {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: 600;
    z-index: 2;
    width: 100%;
    background: #f8f8f8;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  .navrow {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
  }
  
  .navbar_container {
    display: flex;
    height: 60px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    position: relative;
    left: 5px;
    justify-content: center;
    align-items: center;
  }
  
  .navbar_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
  }
  
  .navbar_item {
    height: 80px;
  }
  
  /* Logo */
  #navbarlogo {
    width: 150px;
    mix-blend-mode: multiply;
  }
  #navlogo{
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: sticky;
  }
  .navbar_links {
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 2rem;
    height: 100%;
  }
  
  /* Navigations Burger Menu */
  .hamburger {
    display: none;
  }
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(0, 0, 0);
  }
  @media (max-width: 1220px) {
    .hamburger {
      position: fixed;
      display: block;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      list-style: none;
      text-align: center;
      padding-left: 30px;
      z-index: 999;
    }
    .navbar_buttons .navbar_btn {
      z-index: 999;
    }
  
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
    .navbar_menu:not(.hamburger) {
      position: fixed;
      left: -100%;
      top: 0px;
      gap: 0;
      flex-direction: column;
      background-color: #589600;
      width: 100%;
      text-align: center;
      transition: 0.3s;
    }
  
    .navbar_item {
      margin: 25px 0;
    }
    .navbar_menu.active {
      left: 0;
      padding-top: 100px;
      z-index: 5;
    }
    .logo_on_top {
      z-index: 999;
      position: relative;
    }
  }
  /* SIGN UP KNAPPEN */
  .navbar_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
    height: 100%;
    list-style: none;
  }
  .buttons_container {
    height: 60px;
    width: 100%;
  }
  .navbar_buttons {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: right;
    text-decoration: none;
    height: 100%;
    width: 200px;
    list-style: none;
    float: right;
  }
/* Header slut */
/* Scroll to top */
#myBtn{
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 50px;
    width: 50px;
    display: grid;
    border: none;
    outline: none;
    place-items: center;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    }
    #myBtn:hover{
      background-color: #616161;
    }
/* Scroll to top slut */



/* Overskrift og big picture */

.landingpage{
    height: 1000px;
    text-align: center;
}

#textbox{
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.landingpage h1{

    padding-top: 80px;
    font-size: 43pt;
    font-family: "owners-narrow", sans-serif;
    font-weight: 700;
    font-style: normal;
    
}

.landingpage p{

    
    font-size: 13pt;
    font-weight: 100;
    font-family: "dashiell-text", serif;
}
.videobox{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}


















/* Footer */
footer .containerfooter{
    max-width: 100%;
    margin: 15px auto;
    margin-bottom: 15px;
  }
  .rowfooter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  footer ul{
    list-style: none;
  }
  .footer{
    background-color: #222222;
    padding: 70px 0;
  }
  .footer-col{
    width: 33%;
    padding: 0 15px;
  
  }
  .footer-col h4{
    font-size: 18px;
    color: rgb(155, 155, 155);
    text-transform: capitalize;
    text-transform: uppercase;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #C7711E;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
    display: block;
    transition: all 0.3s ease;
  
  }
  .footer-col ul li a:hover{
    color: #FFCC56;
    padding-left: 8px;
  
  }
  .footer-col .footersocials a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  #footerlogo{
    height: 35px;

  }
  #footersocial{
    display: flex;
  }
  #footersocial img{
    height: 35px;
    display: flex;
    flex-wrap: nowrap;
  }
  .footer-col .footersocials a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  @media(max-width: 920px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
    }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
    }
  }
  
/* Footer slut */